[Unit]
Description= Hype2 service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 <path_to_Hype2>/app.py
[Install]
WantedBy=multi-user.target
