<!DOCTYPE html>

<html data-bs-theme="light">

<head>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hype 2</title>

    <link href="{{url_for('static', filename = 'bootstrap.min.css' )}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'Chart.min.css' )}}" rel="stylesheet" >
    <link href="{{url_for('static', filename = 'font-awesome/css/fontawesome.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'font-awesome/css/brands.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'font-awesome/css/solid.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'dropzone.min.css')}}" rel="stylesheet">

    <script src="{{url_for('static', filename = 'popper.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'Chart.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'dropzone.min.js')}}"></script>

    <script src="{{url_for('static', filename = '/core/rfb.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/util/strings.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/util/element.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/util/logging.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/util/browser.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/util/int.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/util/events.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/util/eventtarget.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/display.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/inflator.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/deflator.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/input/gesturehandler.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/input/keyboard.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/util/cursor.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/websock.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/des.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/input/keysym.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/input/xtscancodes.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/encodings.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/decoders/raw.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/decoders/copyrect.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/decoders/hextile.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/decoders/rre.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/decoders/tight.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/decoders/tightpng.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/base64.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/zlib/inflate.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/zlib/zstream.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/zlib/deflate.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/input/util.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/utils/common.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/zlib/inffast.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/zlib/adler32.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/zlib/crc32.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/zlib/inftrees.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/input/keysymdef.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/input/vkeys.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/input/fixedkeys.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/input/domkeytable.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/zlib/trees.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/zlib/messages.js')}}"></script>


</head>
<body>
<!-- Loading DIV -->
<!-- <div id="loading"><center><img src="{{url_for('static', filename = 'logo.gif')}}"></center></div> -->

<div id="loading"><center>
  <div class="spinner-grow text-muted"></div>
  <div class="spinner-grow text-primary"></div>
  <div class="spinner-grow text-success"></div>
  <div class="spinner-grow text-info"></div>
  <div class="spinner-grow text-warning"></div>
  <div class="spinner-grow text-danger"></div>
  <div class="spinner-grow text-secondary"></div>
  <div class="spinner-grow text-dark"></div>
  <div class="spinner-grow text-light"></div>
</center></div>

    {% block content %}{% endblock %}

<!-- Alerting -->
<script>
    var opacity=0;
    var intervalID=0;
        function fadeout(){
               setInterval(hide, 100);
        }

    setTimeout(function(){
	fadeout();
    }, 3000);
    function hide(){
          var body=document.getElementById("alert");
          opacity = Number(window.getComputedStyle(body).getPropertyValue("opacity"))
  
            if(opacity>0){
                   opacity=opacity-0.1;
                   body.style.opacity=opacity
            }
            else{
                clearInterval(intervalID); 
            }
        }
</script>
<!-- Menu JS-->
<script>
var menu_btn = document.querySelector("#menu-btn");
var sidebar = document.querySelector("#sidebar");
var container = document.querySelector(".my-container");

sidebar.classList.remove("active-nav");
container.classList.remove("active-cont");

menu_btn.addEventListener("click", () => {
  sidebar.classList.toggle("active-nav");
  container.classList.toggle("active-cont");
});
</script>
<!-- Loading -->
<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]>
</script>
<!-- Alert JS -->
<script>
//Get the cookie related to theme
var cookieThemeValue = document.cookie
  .split("; ")
  .find((row) => row.startsWith("theme="))
  ?.split("=")[1];
//Get the cookie related to lang
var cookieLangValue = document.cookie
  .split("; ")
  .find((row) => row.startsWith("lang="))
  ?.split("=")[1];

//Btn event
//Change the cookie and reload
document.getElementById('btnLang').addEventListener('click',()=>{
    if (cookieLangValue == 'fr') {
        document.cookie = "lang=en";
        window.location.reload();
    }
    else {
        document.cookie = "lang=fr";
        window.location.reload();
    }
})
document.getElementById('btnSwitch').addEventListener('click',()=>{
    if (cookieThemeValue == 'dark') {
        document.cookie = "theme=light";
        window.location.reload();
    }
    else {
        document.cookie = "theme=dark";
        window.location.reload();
    }
})


window.onload = function() {
      if (cookieThemeValue == 'dark'){
         document.documentElement.setAttribute('data-bs-theme','dark')
      }
      else {
         document.documentElement.setAttribute('data-bs-theme','light')
      }
      if (cookieLangValue == 'fr'){
         document.getElementById("lang_state").innerHTML = "Etat"
         document.getElementById("lang_dashboard").innerHTML = "Tableau de bord"
         document.getElementById("lang_build").innerHTML = "Créer"
         document.getElementById("lang_pools").innerHTML = "Stockage"
         document.getElementById("lang_network").innerHTML = "Réseau"
         document.getElementById("lang_adduser").innerHTML = "Ajouter utilisateur"
         document.getElementById("lang_param").innerHTML = "Paramètres"
         document.getElementById("lang_lang").innerHTML = "Langue"
         if (document.getElementById("lang_anetwork")){
         document.getElementById("lang_anetwork").innerHTML = "Ajouter Réseau"}
         if (document.getElementById("lang_pinterface")){
         document.getElementById("lang_pinterface").innerHTML = "Interface Physique"}
         if (document.getElementById("lang_vinterface")){
         document.getElementById("lang_vinterface").innerHTML = "Interface Virtuelle"}
         if (document.getElementById("lang_nactive")){
         document.getElementById("lang_nactive").innerHTML = "Non active"}
         if (document.getElementById("lang_dropzone")){
         document.getElementById("lang_dropzone").innerHTML = "Zone de dépot"}
         if (document.getElementById("lang_mountiso")){
         document.getElementById("lang_mountiso").innerHTML = "Monter ISO sur le Serveur Virtuel"}
         if (document.getElementById("lang_createc")){
         document.getElementById("lang_createc").innerHTML = "Créer Conteneur"}
	 if (document.getElementById("lang_createvm")){
         document.getElementById("lang_createvm").innerHTML = "Créer Serveur Virtuel"}
	 if (document.getElementById("lang_name")){
         document.getElementById("lang_name").innerHTML = "Nom"}
         if (document.getElementById("lang_name2")){
         document.getElementById("lang_name2").innerHTML = "Nom"}
         if (document.getElementById("lang_sIP")){
         document.getElementById("lang_sIP").innerHTML = "IP statique Optionelle"}
         if (document.getElementById("lang_create")){
         document.getElementById("lang_create").innerHTML = "Créer"}
         if (document.getElementById("lang_create2")){
         document.getElementById("lang_create2").innerHTML = "Créer"}
         if (document.getElementById("lang_memoryin")){
         document.getElementById("lang_memoryin").innerHTML = "Memoire (en MiB)"}
         if (document.getElementById("lang_diskin")){
         document.getElementById("lang_diskin").innerHTML = "Disque (en GB)"}
         if (document.getElementById("lang_network2")){
         document.getElementById("lang_network2").innerHTML = "Réseau"}
         if (document.getElementById("lang_fscreen")){
         document.getElementById("lang_fscreen").innerHTML = "Plein écran"}
         if (document.getElementById("lang_fscreen2")){
         document.getElementById("lang_fscreen2").innerHTML = "Plein écran"}
         if (document.getElementById("lang_users")){
         document.getElementById("lang_users").innerHTML = "Liste des utilisateurs"}
         if (document.getElementById("lang_adduser2")){
         document.getElementById("lang_adduser2").innerHTML = "Ajouter utilisateur"}
         if (document.getElementById("lang_add")){
         document.getElementById("lang_add").innerHTML = "Ajouter"}
         if (document.getElementById("lang_ihostname")){
         document.getElementById("lang_ihostname").innerHTML = "Nom de l'Hôte"}
	 if (document.getElementById("lang_ilastboot")){
         document.getElementById("lang_ilastboot").innerHTML = "Dernier démarrage"}
	 if (document.getElementById("lang_imonitor")){
         document.getElementById("lang_imonitor").innerHTML = "Surveillance"}
         if (document.getElementById("lang_idisk")){
         document.getElementById("lang_idisk").innerHTML = "Disque"}
         if (document.getElementById("lang_inet")){
         document.getElementById("lang_inet").innerHTML = "Réseau"}
         if (document.getElementById("lang_irec")){
         document.getElementById("lang_irec").innerHTML = "Reçu"}
         if (document.getElementById("lang_iname")){
         document.getElementById("lang_iname").innerHTML = "Nom"}
         if (document.getElementById("lang_isent")){
         document.getElementById("lang_isent").innerHTML = "Envoyé"}
         if (document.getElementById("lang_iusage")){
         document.getElementById("lang_iusage").innerHTML = "Utilisation"}
         if (document.getElementById("lang_eltitre")){
         document.getElementById("lang_eltitre").innerHTML = "Ressources de"}
         if (document.getElementById("lang_elmemory")){
         document.getElementById("lang_elmemory").innerHTML = "Mémoire"}
         if (document.getElementById("lang_elmmemory")){
         document.getElementById("lang_elmmemory").innerHTML = "Mémoire Max"}
         if (document.getElementById("lang_elmemory2")){
         document.getElementById("lang_elmemory2").innerHTML = "Mémoire"}
         if (document.getElementById("lang_elmmemory2")){
         document.getElementById("lang_elmmemory2").innerHTML = "Mémoire Max"}
	 if (document.getElementById("lang_ememory")){
         document.getElementById("lang_ememory").innerHTML = "Mémoire"}
	 if (document.getElementById("lang_etitre")){
         document.getElementById("lang_etitre").innerHTML = "Ressources de"}
	 if (document.getElementById("lang_ememory2")){
         document.getElementById("lang_ememory2").innerHTML = "Mémoire"}
	 if (document.getElementById("lang_echange")){
         document.getElementById("lang_echange").innerHTML = "Changer le vCPU et/ou la Mémoire va redemarrer"}
	 if (document.getElementById("lang_edisks")){
         document.getElementById("lang_edisks").innerHTML = "Disque(s) de"}
	 if (document.getElementById("lang_eadisks")){
         document.getElementById("lang_eadisks").innerHTML = "Disques actuels"}
	 if (document.getElementById("lang_esdisks")){
         document.getElementById("lang_esdisks").innerHTML = "Disque système"}
	 if (document.getElementById("lang_eaware")){
         document.getElementById("lang_eaware").innerHTML = "Sachez que les disques détachés existent toujours ! Vous devez nettoyer les disques inutilisés dans l'onglet Stokage."}
	 if (document.getElementById("lang_eaware2")){
         document.getElementById("lang_eaware2").innerHTML = "Réduire la taille d'un disque peut corrompre ou supprimer vos données"}
	 if (document.getElementById("lang_eadddisk")){
         document.getElementById("lang_eadddisk").innerHTML = "Ajouter et attacher un nouveau disque"}
	 if (document.getElementById("lang_endisk")){
         document.getElementById("lang_endisk").innerHTML = "Nom nouveau disque"}
	 if (document.getElementById("lang_endisksize")){
         document.getElementById("lang_endisksize").innerHTML = "Taille"}
	 if (document.getElementById("lang_endisktarget")){
         document.getElementById("lang_endisktarget").innerHTML = "Disque cible (nom système)"}
	 if (document.getElementById("lang_eajouter")){
         document.getElementById("lang_eajouter").innerHTML = "Ajouter"}
	 if (document.getElementById("lang_enet")){
         document.getElementById("lang_enet").innerHTML = "Réseau pour"}
	 if (document.getElementById("lang_ena")){
         document.getElementById("lang_ena").innerHTML = "Attacher un nouevau réseau"}
	 if (document.getElementById("lang_enet2")){
         document.getElementById("lang_enet2").innerHTML = "Réseau"}
	 if (document.getElementById("lang_eajouter2")){
         document.getElementById("lang_eajouter2").innerHTML = "Ajouter"}
      }
      else {
         document.getElementById("lang_state").innerHTML = "State"
         document.getElementById("lang_dashboard").innerHTML = "Dashboard"
         document.getElementById("lang_build").innerHTML = "Build"
         document.getElementById("lang_pools").innerHTML = "Pools"
         document.getElementById("lang_network").innerHTML = "Network"
         document.getElementById("lang_adduser").innerHTML = "Add user"
         document.getElementById("lang_param").innerHTML = "Parameters"
         document.getElementById("lang_lang").innerHTML = "Language"
         if (document.getElementById("lang_anetwork")){
         document.getElementById("lang_anetwork").innerHTML = "Add Network"}
         if (document.getElementById("lang_pinterface")){
         document.getElementById("lang_pinterface").innerHTML = "Physical interface"}
         if (document.getElementById("lang_vinterface")){
         document.getElementById("lang_vinterface").innerHTML = "Virtual interface"}
         if (document.getElementById("lang_nactive")){
         document.getElementById("lang_nactive").innerHTML = "Not active"}
         if (document.getElementById("lang_dropzone")){
         document.getElementById("lang_dropzone").innerHTML = "DropZone"}
         if (document.getElementById("lang_mountiso")){
         document.getElementById("lang_mountiso").innerHTML = "Mount ISO on Virtual Server"}
         if (document.getElementById("lang_createc")){
         document.getElementById("lang_createc").innerHTML = "Create Container"}
	 if (document.getElementById("lang_createvm")){
         document.getElementById("lang_createvm").innerHTML = "Create Virtual Server"}
         if (document.getElementById("lang_name")){
         document.getElementById("lang_name").innerHTML = "Name"}
         if (document.getElementById("lang_name2")){
         document.getElementById("lang_name2").innerHTML = "Name"}
         if (document.getElementById("lang_sIP")){
         document.getElementById("lang_sIP").innerHTML = "Optional static IP"}
         if (document.getElementById("lang_create")){
         document.getElementById("lang_create").innerHTML = "Create"}
         if (document.getElementById("lang_create2")){
         document.getElementById("lang_create2").innerHTML = "Create"}
         if (document.getElementById("lang_network2")){
         document.getElementById("lang_network2").innerHTML = "Network"}
         if (document.getElementById("lang_memoryin")){
         document.getElementById("lang_memoryin").innerHTML = "Memory (in MiB)"}
         if (document.getElementById("lang_diskin")){
         document.getElementById("lang_diskin").innerHTML = "Disk (in GB)"}
         if (document.getElementById("lang_fscreen")){
         document.getElementById("lang_fscreen").innerHTML = "Full screen"}
         if (document.getElementById("lang_fscreen2")){
         document.getElementById("lang_fscreen2").innerHTML = "Full screen"}
         if (document.getElementById("lang_users")){
         document.getElementById("lang_users").innerHTML = "List of users"}
         if (document.getElementById("lang_adduser2")){
         document.getElementById("lang_adduser2").innerHTML = "Add user"}
         if (document.getElementById("lang_add")){
         document.getElementById("lang_add").innerHTML = "Add"}
         if (document.getElementById("lang_ihostname")){
         document.getElementById("lang_ihostname").innerHTML = "Hostname"}
	 if (document.getElementById("lang_ilastboot")){
         document.getElementById("lang_ilastboot").innerHTML = "Last boot"}
	 if (document.getElementById("lang_imonitor")){
         document.getElementById("lang_imonitor").innerHTML = "Monitor"}
         if (document.getElementById("lang_idisk")){
         document.getElementById("lang_idisk").innerHTML = "Disk"}
         if (document.getElementById("lang_inet")){
         document.getElementById("lang_inet").innerHTML = "Network"}
         if (document.getElementById("lang_irec")){
         document.getElementById("lang_irec").innerHTML = "Received"}
         if (document.getElementById("lang_iname")){
         document.getElementById("lang_iname").innerHTML = "Name"}
         if (document.getElementById("lang_isent")){
         document.getElementById("lang_isent").innerHTML = "Sent"}
         if (document.getElementById("lang_iusage")){
         document.getElementById("lang_iusage").innerHTML = "Usage"}
         if (document.getElementById("lang_eltitre")){
         document.getElementById("lang_eltitre").innerHTML = "Ressources of"}
         if (document.getElementById("lang_elmemory")){
         document.getElementById("lang_elmemory").innerHTML = "Memory"}
         if (document.getElementById("lang_elmmemory")){
         document.getElementById("lang_elmmemory").innerHTML = "Max Memory"}
         if (document.getElementById("lang_elmemory2")){
         document.getElementById("lang_elmemory2").innerHTML = "Memory"}
         if (document.getElementById("lang_elmmemory2")){
         document.getElementById("lang_elmmemory2").innerHTML = "Max Memory"}
	 if (document.getElementById("lang_ememory")){
         document.getElementById("lang_ememory").innerHTML = "Memory"}
	 if (document.getElementById("lang_etitre")){
         document.getElementById("lang_etitre").innerHTML = "Ressources of"}
	 if (document.getElementById("lang_ememory2")){
         document.getElementById("lang_ememory2").innerHTML = "Memory"}
	 if (document.getElementById("lang_echange")){
         document.getElementById("lang_echange").innerHTML = "Changing vCPU and/or Memory will restart"}
	 if (document.getElementById("lang_edisks")){
         document.getElementById("lang_edisks").innerHTML = "Disk(s) of"}
	 if (document.getElementById("lang_eadisks")){
         document.getElementById("lang_eadisks").innerHTML = "Actual disks"}
	 if (document.getElementById("lang_esdisks")){
         document.getElementById("lang_esdisks").innerHTML = "System disk"}
	 if (document.getElementById("lang_eaware")){
         document.getElementById("lang_eaware").innerHTML = "Be aware that detached disks, still exist ! You should clean unused disks on Pool tab."}
	 if (document.getElementById("lang_eaware2")){
         document.getElementById("lang_eaware2").innerHTML = "Shrinking a disk size, can corrupt or delete your data"}
	 if (document.getElementById("lang_eadddisk")){
         document.getElementById("lang_eadddisk").innerHTML = "Add and attach a new disk"}
	 if (document.getElementById("lang_endisk")){
         document.getElementById("lang_endisk").innerHTML = "New disk name"}
	 if (document.getElementById("lang_endisksize")){
         document.getElementById("lang_endisksize").innerHTML = "Size"}
	 if (document.getElementById("lang_endisktarget")){
         document.getElementById("lang_endisktarget").innerHTML = "Disk target (system name)"}
	 if (document.getElementById("lang_eajouter")){
         document.getElementById("lang_eajouter").innerHTML = "Add"}
	 if (document.getElementById("lang_enet")){
         document.getElementById("lang_enet").innerHTML = "Networking for"}
	 if (document.getElementById("lang_ena")){
         document.getElementById("lang_ena").innerHTML = "Attach new network"}
	 if (document.getElementById("lang_enet2")){
         document.getElementById("lang_enet2").innerHTML = "Network"}
	 if (document.getElementById("lang_eajouter2")){
         document.getElementById("lang_eajouter2").innerHTML = "Add"}
      }
}

</script>
</body>
</html>
