<!DOCTYPE html>

<html data-bs-theme="light">

<head>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hype 2</title>

    <link href="{{url_for('static', filename = 'bootstrap.min.css' )}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'Chart.min.css' )}}" rel="stylesheet" >
    <link href="{{url_for('static', filename = 'font-awesome/css/fontawesome.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'font-awesome/css/brands.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'font-awesome/css/solid.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'dropzone.min.css')}}" rel="stylesheet">

    <script src="{{url_for('static', filename = 'popper.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'Chart.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'dropzone.min.js')}}"></script>

    <script src="{{url_for('static', filename = '/core/rfb.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/util/strings.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/util/element.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/util/logging.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/util/browser.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/util/int.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/util/events.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/util/eventtarget.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/display.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/inflator.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/deflator.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/input/gesturehandler.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/input/keyboard.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/util/cursor.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/websock.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/des.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/input/keysym.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/input/xtscancodes.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/encodings.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/decoders/raw.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/decoders/copyrect.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/decoders/hextile.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/decoders/rre.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/decoders/tight.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/decoders/tightpng.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/base64.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/zlib/inflate.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/zlib/zstream.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/zlib/deflate.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/input/util.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/utils/common.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/zlib/inffast.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/zlib/adler32.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/zlib/crc32.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/zlib/inftrees.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/input/keysymdef.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/input/vkeys.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/input/fixedkeys.js')}}"></script>
    <script src="{{url_for('static', filename = '/core/input/domkeytable.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/zlib/trees.js')}}"></script>
    <script src="{{url_for('static', filename = '/vendor/pako/lib/zlib/messages.js')}}"></script>


</head>
<body>
<!-- Loading DIV -->
<!-- <div id="loading"><center><img src="{{url_for('static', filename = 'logo.gif')}}"></center></div> -->

<div id="loading"><center>
  <div class="spinner-grow text-muted"></div>
  <div class="spinner-grow text-primary"></div>
  <div class="spinner-grow text-success"></div>
  <div class="spinner-grow text-info"></div>
  <div class="spinner-grow text-warning"></div>
  <div class="spinner-grow text-danger"></div>
  <div class="spinner-grow text-secondary"></div>
  <div class="spinner-grow text-dark"></div>
  <div class="spinner-grow text-light"></div>
</center></div>

    {% block content %}{% endblock %}

<!-- Alerting -->
<script>
    var opacity=0;
    var intervalID=0;
        function fadeout(){
               setInterval(hide, 100);
        }

    setTimeout(function(){
	fadeout();
    }, 3000);
    function hide(){
          var body=document.getElementById("alert");
          opacity = Number(window.getComputedStyle(body).getPropertyValue("opacity"))
  
            if(opacity>0){
                   opacity=opacity-0.1;
                   body.style.opacity=opacity
            }
            else{
                clearInterval(intervalID); 
            }
        }
</script>
<!-- Menu JS-->
<script>
var menu_btn = document.querySelector("#menu-btn");
var sidebar = document.querySelector("#sidebar");
var container = document.querySelector(".my-container");

sidebar.classList.remove("active-nav");
container.classList.remove("active-cont");

menu_btn.addEventListener("click", () => {
  sidebar.classList.toggle("active-nav");
  container.classList.toggle("active-cont");
});
</script>
<!-- Loading -->
<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]>
</script>
-->
<!-- Alert JS -->
<script>
//Get the cookie related to theme
var cookieThemeValue = document.cookie
  .split("; ")
  .find((row) => row.startsWith("theme="))
  ?.split("=")[1];
//Get the cookie related to lang
var cookieLangValue = document.cookie
  .split("; ")
  .find((row) => row.startsWith("lang="))
  ?.split("=")[1];

//Btn event
//Change the cookie and reload
document.getElementById('btnLang').addEventListener('click',()=>{
    if (cookieLangValue == 'fr') {
        document.cookie = "lang=en";
        window.location.reload();
    }
    else {
        document.cookie = "lang=fr";
        window.location.reload();
    }
})
document.getElementById('btnSwitch').addEventListener('click',()=>{
    if (cookieThemeValue == 'dark') {
        document.cookie = "theme=light";
        window.location.reload();
    }
    else {
        document.cookie = "theme=dark";
        window.location.reload();
    }
})


window.onload = function() {
      if (cookieThemeValue == 'dark'){
         document.documentElement.setAttribute('data-bs-theme','dark')
      }
      else {
         document.documentElement.setAttribute('data-bs-theme','light')
      }
      if (cookieLangValue == 'fr'){
         document.getElementById("lang_state").innerHTML = "Etat"
         document.getElementById("lang_dashboard").innerHTML = "Tableau de bord"
         document.getElementById("lang_build").innerHTML = "Créer"
         document.getElementById("lang_pools").innerHTML = "Stockage"
         document.getElementById("lang_network").innerHTML = "Réseau"
         document.getElementById("lang_adduser").innerHTML = "Ajouter utilisateur"
         document.getElementById("lang_param").innerHTML = "Paramètres"
         document.getElementById("lang_lang").innerHTML = "Langue"
         if (document.getElementById("lang_anetwork")){
         document.getElementById("lang_anetwork").innerHTML = "Ajouter Réseau"}
         if (document.getElementById("lang_pinterface")){
         document.getElementById("lang_pinterface").innerHTML = "Interface Physique"}
         if (document.getElementById("lang_vinterface")){
         document.getElementById("lang_vinterface").innerHTML = "Interface Virtuelle"}
         if (document.getElementById("lang_nactive")){
         document.getElementById("lang_nactive").innerHTML = "Non active"}
         if (document.getElementById("lang_dropzone")){
         document.getElementById("lang_dropzone").innerHTML = "Zone de dépot"}
         if (document.getElementById("lang_mountiso")){
         document.getElementById("lang_mountiso").innerHTML = "Monter ISO sur le Serveur Virtuel"}
         if (document.getElementById("lang_createc")){
         document.getElementById("lang_createc").innerHTML = "Créer Conteneur"}
	 if (document.getElementById("lang_createvm")){
         document.getElementById("lang_createvm").innerHTML = "Créer Serveur Virtuel"}
	 if (document.getElementById("lang_name")){
         document.getElementById("lang_name").innerHTML = "Nom"}
         if (document.getElementById("lang_name2")){
         document.getElementById("lang_name2").innerHTML = "Nom"}
         if (document.getElementById("lang_sIP")){
         document.getElementById("lang_sIP").innerHTML = "IP statique Optionelle"}
         if (document.getElementById("lang_create")){
         document.getElementById("lang_create").innerHTML = "Créer"}
         if (document.getElementById("lang_create2")){
         document.getElementById("lang_create2").innerHTML = "Créer"}
         if (document.getElementById("lang_memoryin")){
         document.getElementById("lang_memoryin").innerHTML = "Memoire (en MiB)"}
         if (document.getElementById("lang_diskin")){
         document.getElementById("lang_diskin").innerHTML = "Disque (en GB)"}
         if (document.getElementById("lang_network2")){
         document.getElementById("lang_network2").innerHTML = "Réseau"}

      }
      else {
         document.getElementById("lang_state").innerHTML = "State"
         document.getElementById("lang_dashboard").innerHTML = "Dashboard"
         document.getElementById("lang_build").innerHTML = "Build"
         document.getElementById("lang_pools").innerHTML = "Pools"
         document.getElementById("lang_network").innerHTML = "Network"
         document.getElementById("lang_adduser").innerHTML = "Add user"
         document.getElementById("lang_param").innerHTML = "Parameters"
         document.getElementById("lang_lang").innerHTML = "Language"
         if (document.getElementById("lang_anetwork")){
         document.getElementById("lang_anetwork").innerHTML = "Add Network"}
         if (document.getElementById("lang_pinterface")){
         document.getElementById("lang_pinterface").innerHTML = "Physical interface"}
         if (document.getElementById("lang_vinterface")){
         document.getElementById("lang_vinterface").innerHTML = "Virtual interface"}
         if (document.getElementById("lang_nactive")){
         document.getElementById("lang_nactive").innerHTML = "Not active"}
         if (document.getElementById("lang_dropzone")){
         document.getElementById("lang_dropzone").innerHTML = "DropZone"}
         if (document.getElementById("lang_mountiso")){
         document.getElementById("lang_mountiso").innerHTML = "Mount ISO on Virtual Server"}
         if (document.getElementById("lang_createc")){
         document.getElementById("lang_createc").innerHTML = "Create Container"}
	 if (document.getElementById("lang_createvm")){
         document.getElementById("lang_createvm").innerHTML = "Create Virtual Server"}
         if (document.getElementById("lang_name")){
         document.getElementById("lang_name").innerHTML = "Name"}
         if (document.getElementById("lang_name2")){
         document.getElementById("lang_name2").innerHTML = "Name"}
         if (document.getElementById("lang_sIP")){
         document.getElementById("lang_sIP").innerHTML = "Optional static IP"}
         if (document.getElementById("lang_create")){
         document.getElementById("lang_create").innerHTML = "Create"}
         if (document.getElementById("lang_create2")){
         document.getElementById("lang_create2").innerHTML = "Create"}
         if (document.getElementById("lang_network2")){
         document.getElementById("lang_network2").innerHTML = "Network"}
         if (document.getElementById("lang_memoryin")){
         document.getElementById("lang_memoryin").innerHTML = "Memory (in MiB)"}
         if (document.getElementById("lang_diskin")){
         document.getElementById("lang_diskin").innerHTML = "Disk (in GB)"}
      }
}

</script>
</body>
</html>
